In [4]:
from money_mate.classification import transaction_name_rules, transaction_type_rules, startswith_rules, classify_by_type, classify_by_name, refine_by_name, prep_account_statement

In [3]:
%pwd

'/Users/janduplessis/code/janduplessis883/Money-Mate/notebooks'

In [5]:
import pandas as pd
data = pd.read_csv('../data/monzo2.csv')
data.head()

,Transaction ID,Date,Time,Type,Name,Emoji,Category,Amount,Currency,Local amount,Local currency,Notes and #tags,Address,Receipt,Description,Category split
0,tx_00009jGereHTyV50ElCRLl,28/05/2019,11:30:19,Faster payment,DU PLESSIS J V B,NaN,Income,150.00,GBP,150.00,GBP,BARCLAYS,NaN,NaN,BARCLAYS,NaN
1,tx_00009jGsehBRGqJ8N1IJlp,28/05/2019,14:04:51,Card payment,Boots,üíä,Medical,-2.79,GBP,-2.79,GBP,üíä,198-200 Fulham Palace Road,NaN,BOOTS FULHAM GBR,NaN
2,tx_00009jGuOQFceohdUyDs1J,28/05/2019,14:24:19,Card payment,Cofx,‚òïÔ∏è,Eating out,-3.50,GBP,-3.50,GBP,‚òïÔ∏è,220 Fulham Palace Road,NaN,IZ *COFX London GBR,NaN
3,tx_00009jH0DsSa2JC59s2FYP,28/05/2019,15:29:39,Card payment,Eat17,üçΩ,Eating out,-2.59,GBP,-2.59,GBP,‚òïÔ∏è,77 Fulham Palace Road,NaN,EAT17 LONDON GBR,NaN
4,tx_00009jH3AbmTtLDGBj8iNG,28/05/2019,16:02:40,Card payment,Superdrug,üíä,Personal care,-9.01,GBP,-9.01,GBP,üíÖ,Unit 26 The Broadway Shopping Centre,NaN,SUPERDRUG STORES PLC HAMMERSMITH GBR,NaN

In [6]:
data = prep_account_statement(data)

In [7]:
data.head()

,Date,Time,Type,Name,Emoji,Category,Amount,Currency,Local amount,Local currency,year,month,month_name,custom_category,Cumulative Amount
0,2019-05-28,11:30:19,Faster payment,DU PLESSIS J V B,NaN,Income,150.00,GBP,150.00,GBP,2019,5,May,Income,150.00
1,2019-05-28,14:04:51,Card payment,Boots,üíä,Medical,-2.79,GBP,-2.79,GBP,2019,5,May,Medical,147.21
2,2019-05-28,14:24:19,Card payment,Cofx,‚òïÔ∏è,Eating out,-3.50,GBP,-3.50,GBP,2019,5,May,Eating Out,143.71
3,2019-05-28,15:29:39,Card payment,Eat17,üçΩ,Eating out,-2.59,GBP,-2.59,GBP,2019,5,May,Eating Out,141.12
4,2019-05-28,16:02:40,Card payment,Superdrug,üíä,Personal care,-9.01,GBP,-9.01,GBP,2019,5,May,Medical,132.11

In [10]:
uncat = data[(data['custom_category'] == 'Uncategorized')]

In [11]:
uncat.head()

,Date,Time,Type,Name,Emoji,Category,Amount,Currency,Local amount,Local currency,year,month,month_name,custom_category,Cumulative Amount
13,2019-05-29,14:52:29,Card payment,Sainsbury's filling station,‚õΩÔ∏è,General,-11.55,GBP,-11.55,GBP,2019,5,May,Uncategorized,127.98
15,2019-05-30,08:49:23,Card payment,Simple Foods,üíª,General,-10.48,GBP,-10.48,GBP,2019,5,May,Uncategorized,114.00
17,2019-05-30,09:03:00,Card payment,Abokado - Hammersmith,üçõ,Groceries,-1.09,GBP,-1.09,GBP,2019,5,May,Uncategorized,94.96
29,2019-06-01,08:09:52,Card payment,Great Scotts Repairs L,üëû,Shopping,-9.50,GBP,-9.50,GBP,2019,6,Jun,Uncategorized,96.65
35,2019-06-01,18:01:18,Card payment,Sainsbury's filling station,‚õΩÔ∏è,General,-10.15,GBP,-10.15,GBP,2019,6,Jun,Uncategorized,59.27

In [13]:
uncat_list = list(uncat['Name'].unique())

In [14]:
uncat_list

["Sainsbury's filling station",
 'Simple Foods',
 'Abokado - Hammersmith',
 'Great Scotts Repairs L',
 'Mobilebitz',
 'Post Office',
 'Driver & Vehicle Licensing Agency',
 'Hop Poles',
 "World's end pharmacy",
 'Primark',
 'Thrive News',
 'Appliances Direct',
 'Jms Foodstore',
 'Your Company Formations',
 'Mobike',
 'Lunch For You',
 'WHSmith',
 'The George Inn',
 'Haines Of Sloane S',
 'Istanbul Organic Ltd',
 'Shell',
 'ORDSALL HEALTH SUR',
 'Prezzemolo & Vitale',
 'Cheyne News Ltd',
 'Jan Barclays Account',
 'Hammersmith',
 'Half Moon Cafe',
 'Londontaxi',
 'Cabvision',
 'Pfzone',
 'Abs Holdings',
 'Selva Food And Wine',
 'Sarenza',
 'Complete Savings',
 'Battersea Loc',
 'Govia Thameslink Railway',
 'Dixons Travel',
 'Kingdom Of Sweets',
 'DOWLING M F, & BLO',
 "Snoggy's ",
 'Digbys Fine Cakes',
 'Courtfield',
 'Sparkles Dry Cleaning',
 'Fedrigoni Uk Ltd',
 'Dartmouth Castle',
 'Nko Enterprise',
 'Simit Sarayi',
 'Udderlicious',
 'London Graphic Centre',
 'Muji Covent Garden',
 'ASOS',
 'Earls Court Vape',
 'THREE',
 'Chelsea & Westminster',
 'Ironmonger & Locksmith',
 'Esmale',
 'PAYPAL CODE 8174',
 'Diablo3bank',
 'Cape Cornwall Surg',
 'PEOPLE@VEOR LTD',
 'LE-TELLIER J',
 'Bakehaus',
 'DHL',
 'Whole Foods Market',
 'J VB Du plessis',
 'Costles',
 'Jazz Hair Studio',
 'Mfrancisco',
 'Bryan',
 'Quick Stop Food And Wine',
 'Darksatan66',
 'Rocsi.rocs',
 'TLC Southern Ltd',
 'Wow Cheap Shop',
 'Oddbins',
 'PAYPAL',
 'Granityen',
 'Jesse Da Silva',
 'THE ROSELAND SURGE',
 'Insure4Sport',
 'Atlantic Medical G',
 'Gplocumdire',
 'The Prince',
 'The Pembroke',
 'Lillie Langtry',
 'Pinoy Supermarket',
 'Brackenbury Wine Rooms',
 'B williams',
 'Preoday',
 'Saif News',
 'Untuckit London Westfi',
 'Transfer',
 'PARKIN J M',
 'Rhedargel',
 'Bradleyw95',
 'Nepovtorima19',
 'The Sydney Arms',
 'Brain.undervol',
 'Brian.undervol',
 'Good Research Ltd',
 'Brightstar Insurance',
 'Alesya Zhlenkova',
 'Jovie.mirabel',
 'Igor',
 'Da Luigi',
 'Alelondonrivil',
 'Plum Fintech Ltd.',
 'Jan van Breda du Pleasis',
 'Apple R226 White City',
 'Akfggv',
 'Gpahler',
 "Zain's Beauty Centre",
 'Lnd Taxi',
 'Chelsea Arts Club',
 'Day And Night Convenience ',
 'Jean-Pierre Le Tellier (SA)',
 '1104 Lhr T5 Asd U',
 'Welcome Shepherds Bush',
 'Londis',
 'Borno Chemists St C',
 'Ollie?s House Limited',
 'Snog Frozen Yogurt ',
 'The Garden Shack',
 'Contact',
 'Soul Amanuel',
 'Millennium Airport Hot',
 'Ginett',
 'Wilko',
 'Verisure Services Limi',
 'Sambyers7171',
 'In 1888 Marylebone',
 'The Princess Of Wales',
 'Bank Charges',
 'Russell Day - Lice',
 'Hugues A Beguhe',
 'Ddipanno',
 'Location 1',
 "Mel's Cafe",
 'Vagabond',
 'Pc Rescue Squad',
 'Wescot',
 'Cabvision 13',
 'Southern Railway',
 'Prosegur Change Uk',
 'Gate Retail Tap',
 'Bridger',
 'Broadway Bar And Grill',
 'Dufry Sharjah Fzc',
 'Easirent',
 'Andrecampos',
 'Cabvision 16',
 'UNIQLO',
 'Marianstoian92',
 'Princepierref',
 'Parcelforce',
 'Dipanno.Dario',
 "Luigi's Delicatessen (",
 'The Blackbird',
 'Myshop',
 'Earls Court',
 'RBP charted Accountants',
 'Surfshark.',
 '2theloo',
 'The Roundhouse',
 'Cgars By Mitchell Orch',
 'Turmeaus Mayfair',
 'Caff√® Kix',
 'Cw Medicines Ltd',
 'TK Maxx',
 'Branch 1',
 'Cotswold Outdoor',
 'Virgin Retail Therapy',
 'Cosmin Dragomir',
 'Ionut Alexandru Mertic',
 'Curb',
 'Sunfield Foods ',
 'Ibm Uk',
 'Gordon Ramsay Street Burger ',
 'Barino',
 'Mail Boxes Etc.',
 'The Battersea General',
 'Ivan Jelen',
 'Timpson',
 'Oksa Food',
 'MEATliquor ',
 'Retail 24',
 'Harrods',
 'Troy Grocery',
 'Dirty Dicks',
 'Abs Wholesale - Brewer',
 'Envato',
 'Beigel Bake',
 'Curb Mobility Limited',
 'Cabvision 14',
 'Jan Van Breda Du P',
 'Jan Van-Breda-Du-P',
 'Fixlocal',
 'Wave',
 'Lsdm Hammersmith',
 'Personal Credit Servic',
 'Oree Boulanger',
 'Rbp',
 'Electric Coffee Co',
 'DICE',
 'Ebooks.com',
 'Simply Fresh',
 'Sumup R S Kiosk Lt',
 'Jean-Pierre Virgin 2']